---
page_title: "Provider: HTTP"
description: |-
  The HTTP provider interacts with HTTP servers.
---

# HTTP Provider

The HTTP provider is a utility provider for interacting with generic HTTP
servers as part of a Terraform configuration.

## Example Usage

This provider requires no configuration, but accepts an optional `host`
configuration.

### Providing host-specific configuration at the provider level

{{ tffile "examples/provider/provider_with_host.tf" }}

{{ .SchemaMarkdown | trimspace }}
