---
page_title: "Provider: HTTP"
description: |-
  The HTTP provider interacts with HTTP servers.
---

# HTTP Provider

The HTTP provider is a utility provider for interacting with generic HTTP
servers as part of a Terraform configuration.

This provider requires no configuration. For information on the resources
it provides, see the navigation bar.

{{- /* No schema in this provider, so no need for this: .SchemaMarkdown | trimspace */ -}}