---
page_title: "Provider: HTTP"
description: |-
  The HTTP provider interacts with HTTP servers.
---

# HTTP Provider

The HTTP provider is a utility provider for interacting with generic HTTP
servers as part of a Terraform configuration.

### Configuring Proxy

{{ tffile "examples/provider/provider_with_proxy.tf" }}

{{ tffile "examples/provider/provider_with_proxy_from_env.tf" }}

{{ .SchemaMarkdown | trimspace }}
